
.register-from{
    
    display: flex;
    flex-direction: column;
    align-items:center ;
    
   
}
.select-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

.register-select{
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 0 25px;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.315);
    transition: .3s;
}